### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [116]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [58]:
players_list = purchase_data["SN"].unique()
total_players = len(players_list)
total_players_df = pd.DataFrame([{"Total Players":total_players}])
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [171]:
#Find total number of items offered.
item_list = purchase_data["Item ID"].unique()
total_items = len(item_list)
total_items

# Find average price of items offered. 
# Average price calculated separately as a unique list of prices can be used if needed elsewhere
price_list = purchase_data["Price"].unique()
average_price = (purchase_data["Price"].unique()).mean()

# Find total number of purchases
purchase_count = len(purchase_data)

# Find total_revenue
total_revenue = purchase_data["Price"].sum()

#purchasing_totals_df = pd.DataFrame([{"Unique Items Sold":total_items,"Average Price":average_price,
#                                      "Purchase Count":purchase_count,"Total Revenue":total_revenue}])

#Create summary table summarizing purchasing totals information.
purchasing_totals_df = pd.DataFrame({"Unique Items Sold":[total_items],"Average Price":average_price,
                                      "Purchase Count":purchase_count,"Total Revenue":total_revenue})
purchasing_totals_df["Average Price"] = purchasing_totals_df["Average Price"].map("${:.2f}".format)
purchasing_totals_df["Total Revenue"] = purchasing_totals_df["Total Revenue"].map("${:,.2f}".format)
purchasing_totals_df

   Unique Items Sold Average Price  Purchase Count Total Revenue
0                183         $3.03             780     $2,379.77

   Number of Unique Items Average Price Number of Purchases Total Revenue
0                     183         $3.05                 780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [203]:
# Find count of players by gender. Purchase data includes purchases by same SN. 
# Must first find unique list of SN and then total the genders 
male_agg_list = purchase_data.loc[purchase_data["Gender"] == "Male"]
male_purchase_count = len((male_agg_list)["SN"].unique())
male_percent = round((male_purchase_count/ total_players * 100),2)

fem_agg_list = purchase_data.loc[purchase_data["Gender"] == "Female"]
female_purchase_count = len((fem_agg_list)["SN"].unique())
female_percent =round((female_purchase_count/ total_players * 100),2)

other_agg_list= purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"]
other_gender_count = len((other_agg_list)["SN"].unique())
other_gender_percent = round((other_gender_count/ total_players * 100),2)
# Build gender stats dataframe
gender_stats = pd.DataFrame({"":["Male","Female","Other / Non-Disclosed"],
                             "Total Count":[male_purchase_count,female_purchase_count,other_gender_count],
                                      "Percentage of Players":[male_percent, female_percent,other_gender_count]})
gender_stats

                          Total Count  Percentage of Players
0                   Male          484                  84.03
1                 Female           81                  14.06
2  Other / Non-Disclosed           11                  11.00

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [211]:
# Find count of purchase by gender
gender_purchase_count = purchase_data["Gender"].value_counts()
gender_purchase_count = pd.DataFrame(gender_purchase_count)
# Remane the index, remove the Gender column name assigned to the resulting table of the value count.
#gender_purchase_count.index.name
gender_purchase_count= gender_purchase_count.rename(columns={"Gender":""})


#Calculate avg purchase price by gender
fem_avg_price = round(((fem_agg_list)["Price"].mean()),2)                 
male_avg_price = round(((male_agg_list)["Price"].mean()),2)
other_avg_price = round(((other_agg_list)["Price"].mean()),2)

gender_purchase_count["Average Price"] = [male_avg_price,fem_avg_price, other_avg_price]
gender_purchase_count

                            Average Price
Male                   652           3.02
Female                 113           3.20
Other / Non-Disclosed   15           3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [196]:
bins = [0,9,15,20,24,29,34,39,80]
purchase_data["Age"].value_counts()
purchase_data["Age Summary"] = pd.cut(purchase_data["Age"], bins)
purchase_data["Age Summary"].value_counts()

(20, 24]    266
(15, 20]    200
(24, 29]    101
(29, 34]     73
(9, 15]      63
(34, 39]     41
(0, 9]       23
(39, 80]     13
Name: Age Summary, dtype: int64

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19
<10,23,$3.35,$77.13,$4.54

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
#item_sold = pd.DataFrame(purchase_data["Item ID"].value_counts())
#item_sold

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80